{% if bacs200 %}

    <td>
        <a href="{{ student.server }}/bacs200/inspire.html" target="server">
            2
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/amuse.html" target="server">
            3
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/educate.html" target="server">
            4
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/superhero.html" target="server">
            5
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/test.html" target="server">
            6
        </a>

    </td>
    <td>
        <a href="{{ student.server }}/bacs200/wanted.html" target="server">
            7
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/blog.html" target="server">
            8
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/nonprofit.html" target="server">
            9
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/video.html" target="server">
            10
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/travel/index.html" target="server">
            11
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/skills/index.html" target="server">
            12
        </a>
    </td>
    <td>
        <a href="/course/bacs200/url-question">
            13
        </a>
    </td>
    <td>
        <a href="{{ student.server }}/bacs200/portfolio/index.html" target="server">
            14
        </a>
    </td>


{% endif %}
