{% if bacs200 %}

    <h4>Test Pages</h4>
    <p>
        Project 1 -
        <a href="{{ student.server }}">
            {{ student.server }}
        </a>
    </p>
    <p>
        Project 2 -
        <a href="{{ student.server }}/bacs200/inspire.html">
            {{ student.server }}/bacs200/inspire.html
        </a>
    </p>
    <p>
        Project 3 -
        <a href="{{ student.server }}/bacs200/amuse.html">
            {{ student.server }}/bacs200/amuse.html
        </a>
    </p>
    <p>
        Project 4 -
        <a href="{{ student.server }}/bacs200/educate.html">
            {{ student.server }}/bacs200/educate.html
        </a>
    </p>
    <p>
        Project 5 -
        <a href="{{ student.server }}/bacs200/superhero.html">
            {{ student.server }}/bacs200/superhero.html
        </a>
    </p>
    <p>
        Project 6 -
        <a href="{{ student.server }}/bacs200/test.html">
            {{ student.server }}/bacs200/test.html
        </a>,

    </p>
    <p>
        Project 7 -
        <a href="{{ student.server }}/bacs200/wanted.html">
            {{ student.server }}/bacs200/wanted.html
        </a>
    </p>
    <p>
        Project 9 -
        <a href="{{ student.server }}/bacs200/nonprofit.html">
            {{ student.server }}/bacs200/nonprofit.html
        </a>
    </p>
    <p>
        Project 10 -
        <a href="{{ student.server }}/bacs200/video.html">
            {{ student.server }}/bacs200/video.html
        </a>
    </p>
    <p>
        Project 11 -
        <a href="{{ student.server }}/bacs200/travel/index.html">
            {{ student.server }}/bacs200/travel/index.html
        </a>
    </p>
    <p>
        Project 12 -
        <a href="{{ student.server }}/bacs200/skills/index.html">
            {{ student.server }}/bacs200/skills/index.html
        </a>
    </p>
    <p>
        Project 13 -
        <a href="/course/bacs200/url-question">
            URL Game
        </a>
    </p>
    <p>
        Project 14 -
        <a href="{{ student.server }}/bacs200/portfolio/index.html">
            {{ student.server }}/bacs200/portfolio/index.html
        </a>
    </p>
{% endif %}
