{% if lecture %}

    <div class="card">
        <div class="card-header unc-light">
            Lecture {{ lecture.lesson.lesson }} - {{ lecture.lesson.date }}
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <b>{{ lecture.lesson.topic }}</b>
                    </div>
                    <div class="col-lg-6">
                        <a href="../lesson/{{ lecture.lesson.lesson|stringformat:"02d" }}.html">Lesson Notes</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="../slides/{{ lecture.lesson.lesson|stringformat:"02d" }}.html">Lesson Slides</a>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            This lecture is being developed and will be posted on this page eventually. To
                            get lectures as they become available you will simply pull new code from the course
                            repository for the class.
                        </p>
                    </div>
                    {#                <div class="col-lg-6">#}
                    {##}
                    {#                    <h3>Shrinking World Video</h3>#}
                    {#                    Lecture Video on Shrinking World#}
                    {##}
                    {#                    <iframe src="https://shrinking-world.com/pages/{{ course }}/lecture/{{ lecture.lesson.date|date:'Y-m-d' }}.html"#}
                    {#                            title="{{ lecture.lesson.topic }}" width="100%" height="500px" allowfullscreen>#}
                    {#                    </iframe>#}
                    {##}
                    {#                    <h3>Canvas Zoom Video</h3>#}
                    {#                    Lecture Video on Canvas#}
                    {##}
                    {#                    <iframe src="{{ lecture.zoom_url }}" title="{{ lecture.lesson.topic }}" width="100%" height="500px" allowfullscreen>#}
                    {#                    </iframe>#}
                    {##}
                    {#                </div>#}
                </div>
            </div>
        </div>
    </div>

{% endif %}