{% extends "course_theme.html" %}


{% block main %}

    <div class="container">

        <h2>Student Design Review Feedback</h2>

        <div class="card">

            <div class="card-header">
                Review Details
            </div>

            <div class="card-body card-padding">
                <p>
                    Reviewed by:
                    <b><a href="mailto:{{ review.reviewer.email }}">{{ review.reviewer.email }}</a></b>
                </p>
                <p>
                    Designer:
                    <b><a href="mailto:{{ review.designer.email }}">{{ review.designer.email }}</a></b>
                </p>
                <p>
                    Domain: <b>{{ review.designer.server }}</b>
                </p>
                <p>
                    Page: <b><a href="{{ review.designer.server }}/{{ review.page }}">{{ review.page }}</a></b>
                </p>

                <p>Validator:
                    <b>
                        <a href="https://validator.w3.org/nu/?doc={{ review.designer.server }}/{{ review.page }}">Validate
                            Page</a>
                    </b>
                </p>
                <p>Date: <b>{{ review.date }}</b></p>
            </div>
        </div>


        <div class="card">

            <div class="card-header">
                Requirements Scorecard
            </div>

            <div class="card-body card-padding">
                <b>Scorecard for {{ review.page }}</b>

                {% if requirements %}
                    <p>
                        The following reviews are scheduled to be completed by the due date.
                        You will only get credit
                        if the review is done correctly and on time.
                    </p>
                    <ul>

                        {% for r in requirements %}
                            <li>
                                {% autoescape off %}
                                    <b>{{ r.1 }}</b> - {{ r.0 }}
                                {% endautoescape %}
                            </li>
                        {% endfor %}

                    </ul>

                {% endif %}
            </div>
        </div>


        <div class="card">

            <div class="card-header">
                Summary of Problems
            </div>

            <div class="card-body card-padding">
                {% autoescape off %}
                    {{ notes }}
                {% endautoescape %}

            </div>
        </div>

    </div>
{% endblock main %}

